.maplestory {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background: url('../../../Assets/bg/maplestory.jpg') center / cover;
    z-index:1;
}

audio {
    display: none;
}
